.customers {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #D8E3FE;

    background-color: #FFFFFF;
}

.customers__container {
    max-width: 1236px;
    position: relative;
    display: flex;
    justify-content: center;
    height: 145px;
    margin: 0px auto;
}

.customers__content {
    display: flex;
    width: 888px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}