.features {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #D8E3FE;

    background-image: url("../img/features/features.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #FFFFFF;
}

.features__container {
    height: 885px;
    max-width: 1236px;
    margin: 0px auto;
}

.features__content {
    position: relative;
    width: 761px;
    height: 761px;
    top: 170px;
    margin: 0px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__sheet {
    height: 62px;
    width: 229px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.features__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}

.features__title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3D4F9F;
}

.features__attraction {
    height: 346px;
    width: 761px;
}

.attraction {
    padding-top: 92px;

}

.attractions__titles {
    position: relative;
    padding-top: 92px;
}

.titles__row {
    max-width: 761px;
    object-fit: contain;
    height: 127px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.attraction__line {
    width: 28px;
    border-bottom: 1px solid #DAE4FE;
}

.titles__column {
    width: 140px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titles__column img {
    max-height: 69px;
    object-position: top;
    object-fit: none;
}

.titles__column b {
    padding-top: 33px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #4074F8;

}

.attractions__texts {
    position: relative;
    padding-top: 25px;
}

.texts__row {
    width: 761px;
    height: 102px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-count: 4;
    column-width: 67px;
    text-align: center;
}

.texts__position {
    width: 140px;
}

.texts__row a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
    color: #ADB3CB;
}

.features__button {

}

.button_red {
}

.features__choice {
}

.button_blue {
}