.hero{
    background-image: url("../img/hero image/hero_image.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
}

.hero__container{
    height: 570px;
    max-width: 1236px;
    margin: 0px auto;
}

.hero__content {
    position: relative;
    width: 600px;
    height: 266px;
    top: 92px;
    margin: 0px auto;
}

.content__text{
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 600px;
    height: 194px;
    text-align: center;
}

.hero__description {
    padding-bottom: 16px;
    font-family: 'Roboto';
    color: #3D4F9F;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.description__bold {
    font-weight: 500;
}

.hero__title {
    position: relative;
    font-family: 'Quicksand';
    color: #3D4F9F;
    font-weight: 300;
    font-size: 48px;
}

.hero__sheet {
    position: relative;
    width: 450px;
    padding-top: 28px;
    margin: 0px auto;
    line-height: 192%;
    font-family: 'Roboto';
    color: #8D96BD;
    font-weight: 400;
    font-size: 15px;
}

.hero__button{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_play:hover {
    border-radius: 26px;
    box-shadow: 0 0 5px #9eb4ea, 0 0 20px #9eb4ea, 0 0 30px #9eb4ea;
}

