@import "reset.css";
@import "header.css";
@import "hero-image.css";
@import "customers.css";
@import "manage.css";
@import "features.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500&display=swap');

body {
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

._plan{
    height: 100%;
}

.button {
    display: inline-block;
    padding: 13px 16px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 700;
    user-select: none;
    line-height: 1.5;
}

html {

}