@import "reset.css";
@import "./_header.css";
@import "_hero-image.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500&display=swap');

body {
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1236px;
}

